<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MY FIRST EJS PROJECT</title>
  </head>
  <body>
    <h1>Hey, this is the first of many of my EJS projects</h1>
    <h2>Hey it's <%= dayType %>, <%= advice%>!</h2>
  </body>
</html>
